@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
}
button{
    height: 2rem;
    width: 4rem;
    background-color: transparent;
    border: 2px solid aqua;
    color: aqua;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}
button:hover{
    background-color: aqua;
    border: 2px solid aqua;
    color: black;
    border-radius: 5px 0px 5px 0px;
}
.heading-container{
    height: 100px;
}
.container{
    height: 100vh;
    width: 100%;
}
.container .heading-container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .create-container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .data-container{
    height: calc(100% - 200px);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container .data-container .datas-container{
    background-color: aqua;
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .insertion-container{
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .insertion-container .data-insertion-container{
    height: 400px;
    width: 400px;
    padding: 50px;
    background-color: aqua;
    color: black;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s ease-in-out 0s;
}
.container .insertion-container .data-insertion-container:hover{
    border-radius: 10%;
}
.container .insertion-container .data-insertion-container form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .insertion-container .data-insertion-container form button,
.data-container .datas-container form button
{
    background-color: black;
    color: aqua;
    margin-top: 10px;
}
textarea {
    resize: none;
}
.container .insertion-container .data-insertion-container form input,textarea{
    border: none;
}

.container .delete-container{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .delete-container .delete-data{
    height: 200px;
    width: 400px;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container .delete-container .delete-data form button{
    height: 2rem;
    width: 6rem;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}
.container .delete-container .delete-data .confirm-delete button{
    color: white;
    background-color: red;
    border: 2px solid red;
}
.container .delete-container .delete-data form button:hover{
    background-color: black;
    border: none;
    color: aqua;
    border-radius: 5px 0px 5px 0px;
}